@font-face {
  font-family: "Roboto";
  src: url("./src/assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./src/assets/fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.container {
  --padding-content: clamp(2rem, -0.8169rem + 12.0188vw, 10rem);
  --content-max-width: clamp(42.5rem, 11.0714rem + 65.4762vw, 70rem);
  width: 100%;
  max-width: calc(var(--content-max-width) + var(--padding-content) * 2);
  padding-inline: var(--padding-content);
  margin-inline: auto;
}

@media (max-width: 48rem) {
  .container {
    --content-max-width: clamp(19.4375rem, -2.5687rem + 93.8931vw, 42.5rem);
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --red: hsl(4, 100%, 67%);
  --blue-800: hsl(234, 29%, 20%);
  --blue-700: hsl(235, 18%, 26%);
  --grey: hsl(0, 0%, 58%);
  --white: hsl(0, 0%, 100%);
  --font-family-base: "Roboto";
  --font-size-l: clamp(2.5rem, 1.5458rem + 4.0712vw, 3.5rem);
  --font-size-m: 1rem;
  --font-size-s: 0.75rem;
  --line-height-xl: 150%;
  --line-height-base: 100%;
  --border-radius-form: 0.5rem;
  --border-radius-card: 2.25rem;
  --border-radius-img: 1rem;
  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-m);
  font-weight: 400;
  color: var(--blue-800);
  background-color: var(--blue-700);
}

h1,
h2 {
  font-size: var(--font-size-l);
  line-height: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  padding-inline: clamp(5rem, -8.4286rem + 27.9762vw, 16.75rem);
  padding-block: clamp(4.5625rem, -5.9375rem + 21.875vw, 13.75rem);
}

.button {
  padding-block: 1rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--blue-800);
  border-radius: var(--border-radius-form);
  cursor: pointer;
}

.subscribe {
  --pi-card: 2rem;
  --pb-card: 1.5rem;
  max-width: 58.75rem;
  display: flex;
  padding-block: var(--pb-card);
  padding-inline: var(--pi-card);
  gap: clamp(2.5rem, 0.7857rem + 3.5714vw, 4rem);
  background-color: var(--white);
  border-radius: var(--border-radius-card);
}
.subscribe__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: clamp(1.5rem, 0.9286rem + 1.1905vw, 2rem);
}
.subscribe__desc {
  font-size: var(--font-size-m);
  line-height: var(--line-height-xl);
}
.subscribe__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.5rem;
}
.subscribe__list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
}
.subscribe__form {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 0.4286rem + 1.1905vw, 1.5rem);
}
.subscribe__form-info {
  padding-block-end: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.subscribe__form .form-info {
  font-size: var(--font-size-s);
  font-weight: 700;
  line-height: var(--line-height-xl);
}
.subscribe__form-message {
  color: var(--red);
}
.subscribe__form-input {
  padding-inline-start: 1.5rem;
  padding-block: 1rem;
  width: 100%;
  border: 1px solid var(--blue-800);
  border-radius: var(--border-radius-form);
}
.subscribe__img {
  height: auto;
}
.subscribe .invalid-email {
  color: var(--red);
  background-color: rgba(220, 56, 56, 0.1);
  border: 1px solid var(--red);
}

.success-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-block: 3.75rem;
  padding-inline: clamp(1.5rem, -1.3571rem + 5.9524vw, 4rem);
  max-width: 31.5rem;
  gap: 2rem;
  background-color: var(--white);
  border-radius: var(--border-radius-card);
}
.success-form__email {
  font-weight: 700;
}
.success-form .button {
  width: 100%;
}

@media (max-width: 74.6875rem) {
  .subscribe {
    --pi-card: 2.5rem;
    --pb-card: 2.625rem;
    flex-direction: column;
  }
  .subscribe__info {
    order: 2;
  }
  .subscribe__img {
    order: 1;
  }
}
@media (max-width: 48rem) {
  .main {
    padding-inline: clamp(0rem, -4.771rem + 20.3562vw, 5rem);
    padding-block: clamp(0rem, -4.3535rem + 18.5751vw, 4.5625rem);
  }
  .subscribe {
    --pi-card: clamp(0rem, -2.3855rem + 10.1781vw, 2.5rem);
    --pb-card: clamp(0rem, -2.5048rem + 10.687vw, 2.625rem);
  }
}
@media (max-width: 37.5rem) {
  .subscribe {
    height: max-content;
    padding-block-end: 1rem;
    border-radius: 0px;
  }
  .subscribe__info {
    padding-inline: 1.5rem;
  }
  .success-form {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 100%;
    border-radius: 0px;
  }
  .success-form_button {
    margin-top: 0;
  }
}
